<%= render "shared/header_search" %>

  <div class='posts-contents'>
  <div class='toumei'>


    <ul class='posts-lists'>
      <% @apps.each do |app| %>
      <li class='list sen'>
        <%= link_to app_path(app.id),class: 'list-link' do %>
        <div class='post-img-content'>
          <%= image_tag app.image, class: "post-img" %>
        </div>
        <div class='post-info'>
          <h3 class='new-post-name'>
            <%= app.name %>
          </h3>
            <span><%= app.content %><br>
            <div class='post-contents-box'>
            <%= "#{Genre.find(app.genre_id).name}" %></span>
            <div class='star-btn'>
              <span class='star-count'>💗</span><%= app.likes.count %>
             </div>
             </div>
        </div>
        <% end %>
      <% end %>
      </li>
    </ul>
  </div>
  </div>