<%= render "shared/header" %>

<%# ε•†ε“γ®ζ¦‚θ¦ %>
<div class="post-show">
  <div class="post-box">
    <h2 class="name">
      <%= @app.name %>
    </h2>
    <div class="post-img-content">
      <%= image_tag @app.image ,class:"post-box-img" %>
    </div>
    
    <% if user_signed_in? %>
      <% if current_user.id == @app.user_id  %>
      <div class= 'show-btn'>
        <%= link_to "η·¨ι›†", edit_list_app_apps_path, method: :get, class: "edit-post-btn" %>
        <%= link_to "ε‰ι™¤", destroy_list_app_apps_path, data: { turbo_method: :delete }, class:"post-destroy" %>
      </div>
      <% end %>
    <% end %>

    <div class="post-explain-box">
      <span><%= @app.content %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">ζ•η¨Ώθ€…</th>
          <td class="detail-user"><%= @app.user.name %></td>
        </tr>
        <tr>
          <th class="detail-post">γ‚Έγƒ£γƒ³γƒ«</th>
          <td class="detail-user"><%= Genre.find(@app.genre_id).name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%# <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>π’—γ€€0</span>
      </div>
    </div>
  </div>
  <%# /ε•†ε“γ®ζ¦‚θ¦ %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <button type="submit" class="comment-btn">
        <%# <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>γ‚³γƒ΅γƒ³γƒγ™γ‚‹<span>
      </button>
    </form>
  </div>
</div>

