<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="post-show">
  <div class="post-box">
    <h2 class="name">
      <%= @app.name %>
    </h2>
    <div class="post-img-content">
      <%= image_tag @app.image ,class:"post-box-img" %>
    </div>
    
    <% if user_signed_in? %>
      <% if current_user.id == @app.user_id  %>
      <div class= 'show-btn'>
        <%= link_to "編集", edit_list_app_apps_path, method: :get, class: "edit-post-btn" %>
        <%= link_to "削除", destroy_list_app_apps_path, data: { turbo_method: :delete }, class:"post-destroy" %>
      </div>
      <% end %>
    <% end %>

    <div class="post-explain-box">
      <span><%= @app.content %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">投稿者</th>
          <td class="detail-user"><%= @app.user.name %></td>
        </tr>
        <tr>
          <th class="detail-post">ジャンル</th>
          <td class="detail-user"><%= Genre.find(@app.genre_id).name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
          <div id="like-btn<%= @app.id %>">
    <% if user_signed_in? && @app.liked_by?(current_user)%>
      <%=link_to "💗", (@app.id),  like_destroy_list_app_apps_path(@app.id), data: { turbo_method: :delete }, class: "tweet_likes" %>
    <% else %>
      <%=link_to "🤍", like_create_list_app_apps_path(@app.id), data: { turbo_method: :post }, class: "tweet_likes" %>
    <% end %>
  </div>
        <%# <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <%# <span>💗　0</span> %>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <button type="submit" class="comment-btn">
        <%# <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
</div>

