<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="post-show">
  <div class="post-box">
    <h2 class="name">
      <%= @app.name %>
    </h2>
    <div class="post-img-content">
      <%= image_tag @app.image ,class:"post-box-img" %>
    </div>
    
    <% if user_signed_in? %>
      <% if current_user.id == @app.user_id  %>
      <div class= 'show-btn'>
        <%= link_to "編集", edit_app_path, class: "edit-post-btn" %>
        <%= link_to "削除", app_path(@app.id), data: { turbo_method: :delete }, class:"post-destroy" %>
      </div>
      <% end %>
    <% end %>

    <div class="post-explain-box">
      <span><%= @app.content %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">投稿者</th>
          <td class="detail-user"><%= @app.user.name %></td>
        </tr>
        <tr>
          <th class="detail-post">ジャンル</th>
          <td class="detail-user"><%= Genre.find(@app.genre_id).name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
          <div id="like-btn<%= @app.id %>">
            <%= render partial: "likes/like", locals: { app: @app } %>
          </div>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>
<div id="comments">
  <h4>＜コメント一覧＞</h4>
    <% @app.comments.each do |comment| %>
      <div class="comment">
        <p class="user-info"><%= comment.user.name %>： </p>
        <p><%= comment.content%></p>
      </div>
    <% end %>
</div>
  <div class="comment-form">
    <%= form_with model: [@app, @comment], data: { turbo: false }, url: app_comments_path(@app), id: "comment-form" do |f| %>
      <div class= 'comment-btn'>
        <%= f.text_area :content , class: "comment-text"%>
        <%= f.submit "send", class: "comment-submit" %>
      </div>
    <% end %>
  </div>
</div>

