<%= render "shared/header" %>

<%# å•†å“ã®æ¦‚è¦ %>
<div class="post-show">
  <div class="post-box">
    <h2 class="name">
      <%= @app.name %>
    </h2>
    <div class="post-img-content">
      <%= image_tag @app.image ,class:"post-box-img" %>
    </div>
    
    <% if user_signed_in? %>
      <% if current_user.id == @app.user_id  %>
      <div class= 'show-btn'>
        <%= link_to "ç·¨é›†", edit_list_app_apps_path, method: :get, class: "edit-post-btn" %>
        <%= link_to "å‰Šé™¤", destroy_list_app_apps_path, data: { turbo_method: :delete }, class:"post-destroy" %>
      </div>
      <% end %>
    <% end %>

    <div class="post-explain-box">
      <span><%= @app.content %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">æŠ•ç¨¿è€…</th>
          <td class="detail-user"><%= @app.user.name %></td>
        </tr>
        <tr>
          <th class="detail-post">ã‚¸ãƒ£ãƒ³ãƒ«</th>
          <td class="detail-user"><%= Genre.find(@app.genre_id).name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
          <div id="like-btn<%= @app.id %>">
            <%= render partial: "likes/like", locals: { app: @app } %>
          </div>
        <%# <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <%# <span>ðŸ’—ã€€0</span> %>
      </div>
    </div>
  </div>
  <%# /å•†å“ã®æ¦‚è¦ %>
<div id="comments">
  <h4>ï¼œã‚³ãƒ¡ãƒ³ãƒˆä¸€è¦§ï¼ž</h4>
    <% @app.comments.each do |comment| %>
      <div class="comment">
        <p class="user-info"><%= comment.user.name %>ï¼š </p>
        <p><%= comment.content%></p>
      </div>
    <% end %>
</div>
  <div class="comment-form">
    <%= form_with model: [@app, @comment], data: { turbo: false }, url: comment_create_list_app_apps_path(@app), id: "comment-form" do |f| %>
      <div class= 'comment-btn'>
        <%= f.text_area :content , class: "comment-text"%>
        <%= f.submit "send", class: "comment-submit" %>
      </div>
    <% end %>
  </div>
</div>

